<div class="py-16">
<h1 class="text-center text-5xl mb-8"> Aplicativo de gerenciamento de imunizantes <h1>
<h3 class="text-center text-4xl mb-8 text-gray-400">Faça seu <a class="text-gray-800" href="/login">login</a> ou <a class="text-gray-800" href="/users/new">crie seu usuário</a> para continuar</h3>
</div>